# TAREA 10

Para realizar esta tarea se utiizará la base de datos *lol_stats* para realizar una conexión de MySQL con Python.

En primero lugar ya que se utilizará más adelante se importa pandas:

In [31]:
import pandas as pd

Luego se crea la conexión con mysql:

In [43]:
import mysql.connector as mysql

conn = mysql.connect(
    host = 'localhost',
    database = 'lol_stats',
    user = 'root',
    password = 'Hpcs0399.')

cursor = conn.cursor()

Para probar la conexión se crea una tabla en la base de datos llamada prueba usando el cursor:

In [44]:
cursor.execute("CREATE TABLE prueba (id INT)")

Para verificar que funcionó se utiliza la función *pd.read_sql* para importar las tablas en la base de datos:

In [45]:
tables = pd.read_sql("SHOW TABLES",conn)
tables

  Tables_in_lol_stats
0        champion_def
1    champion_m_stats
2      championsstats
3           jugadores
4         jugadores_2
5         match_stats
6          player_def
7        player_stats
8              prueba
9          team_stats

Una vez probada la conexión podemos deshacernos de la tabla usando nuevamente el cursor:

In [46]:
cursor.execute("DROP TABLE IF EXISTS prueba")

Para comprobar que se hizo la modificación volvemos a importar la tablas:

In [48]:
tables = pd.read_sql("SHOW TABLES",conn)
tables

  Tables_in_lol_stats
0        champion_def
1    champion_m_stats
2      championsstats
3           jugadores
4         jugadores_2
5         match_stats
6          player_def
7        player_stats
8          team_stats

Podemos aplicar el mismo procedimiento usado en la consulta anterior para la importación de las tablas completas de las bases de datos:

In [50]:
playerstats= pd.read_sql("SELECT * FROM player_stats",conn)
championdef= pd.read_sql("SELECT * FROM champion_def",conn)
championmstats= pd.read_sql("SELECT * FROM champion_m_stats",conn)
matchstats= pd.read_sql("SELECT * FROM match_stats",conn)
playerdef= pd.read_sql("SELECT * FROM player_def",conn)
teamstats= pd.read_sql("SELECT * FROM team_stats",conn)

Una vez importadas podemos hacer consultas parecidas a las que se estuvieron haciendo en la tareas pasadas usando ahora Python.
Por ejemplo, podemos solicitar que se nos de la tabla de frecuencias por *playstyle* como se realizó en la [Tarea 6](https://github.com/HelenaCarrillo/BDR/blob/master/TAREA6.md):

In [93]:
championdef.groupby(['playstyle']).agg(freq= ('playstyle','count')).sort_values(by='freq', ascending=0)

            freq
playstyle
Marksman      23
Assassin      17
Burst         16
Diver         15
Specialist    15
Juggernaut    14
Skirmisher    14
Vanguard      13
Battlemage    11
Enchanter      8
Catcher        7
Warden         6
Artillery      4

De la misma tarea también se puede obtener la media de *blue_essence* y *rp_price* agrupado por *playstyle*:

In [96]:
championdef.groupby(['playstyle']).agg(blue_essence_mean= ('blue_essence_price','mean'), rp_price_mean=('rp_price','mean')).sort_values(by='blue_essence_mean', ascending=0)

            blue_essence_mean  rp_price_mean
playstyle
Skirmisher        4853.571429     847.857143
Artillery         4800.000000     880.000000
Assassin          4650.000000     869.411765
Marksman          4506.521739     830.652174
Catcher           4500.000000     852.142857
Battlemage        4227.272727     816.363636
Diver             4160.000000     813.333333
Burst             4153.125000     811.562500
Enchanter         3562.500000     741.250000
Vanguard          3507.692308     749.230769
Juggernaut        3182.142857     716.071429
Warden            3050.000000     659.166667
Specialist        2970.000000     700.666667

* Realizar consultas relevantes y explicar su importancia
* Realizar funciones de agregación directamente en Python
* Graficas